@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Montserrat:wght@200&family=Nunito+Sans:ital,wght@0,300;1,200&family=Oswald:wght@400;500&display=swap');

*{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.blackP{
    background-color: #0D385A;
    padding-top: 10px;
    padding-bottom: 10px;
}

.firstHead{
    display: flex;
    align-items: center;
    background-color: #0D385A; 
    margin-right: 20px;
    margin-left: 60px;
}
.firstHead a{
    color:#fff
}
.headRight{
    margin-left: 370px;
}
.headLeft{
    margin-right: 50px;
}
.headLeft i{
  color: #D89163;
  font-size: 18px;
  padding-left: 5px;
}
.headRight ul{
    display: flex;
}
.headLeft ul{
    display: flex;
    margin-left: 0px;
}
.headRight li{
    margin-left: 15px;
}
.headLeft i{
    margin-left: 20px;

}
.menu ul{
    display: flex;
}
.words li{
   margin-top: 38px;
   margin-left: 25px;
   color:#0D385A;
   font-size: 17px;
   font-family: 'Oswald', sans-serif;
}
.menu img{
    width: 250px;
    margin-left: 50px;
    margin-right: 300px;
    margin-top: 0;
}
.words :hover{
    color:rgb(230, 121, 19) ;
}

/* Third block header */
.thirdHead{
    background-color: #C1945B;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}
.blockmen{
    margin-right: 2px;
    margin-left: 180px;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}
.blockmen button{
    display: flex;
    margin-left: 20px;
    width: 280px;
    height: 35px;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

.logo{
    align-content: center;
    margin-left: 35%;
}
.text{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: grey;
    margin: 70px;
}

/* slider */
.carousel-container {
    width: 600px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    
  }
  
  .navigation .prev {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    top: 40%;
    left: 10px;
    font-weight: 700;
  }
  .navigation .next {
    right: 10px;
    position: absolute;
    font-size: 25px;
    z-index: 10;
    top: 40%;
  }
  .navigation .nav-btn {
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  }
  .navigation .nav-btn:hover {
    background: white;
  }
  
  .carousel {
    margin-top: 20px;
    transition: all 0.3s ease;
   
  }
  .carousel img {
    width: 100%;
    transition: all 0.3s ease;
    border:8px solid white;
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    width: 103%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.3);
    height: 35px;
  }
  
  .item {
    position: absolute;
    display: none;
  }
  
  .main {
    display: block;
  }


  /* new block text */
.block_text{
    text-align: center;
}

.room1{
  float: left;
  width: 23%;
  height: 300px;
  margin-left: 15px;
  background-image: url(http://rayanhotel.kg/uploads/tiny/177.jpg);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center;
}
.room1 h2{
  text-align: center;
  padding-top: 20px;
  color: #fff;
}
.room1 button{
  margin-left:20px;
  margin-right: 15px;
  height: 35px;
  width: 250px;
  margin-top: 50px;
  font-size: 20px;
  background: rgb(185,118,77);
  color: #fff;
  border: rgb(185,118,77);
}
.button1:hover{
  background-color: rgb(207, 177, 149);
}
.room1 p{
  margin: 20px;
  text-align: center;
  color: #fff;
}
.room1 p:hover{
  background-color: rgba(8, 8, 8, 0.74);
}
.room2{
  float: left;
  width: 23%;
  height: 300px;
  margin-left: 15px;
  background-image: url(http://rayanhotel.kg/uploads/comforttwin/2.jpg);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center;
}
.room2 h2{
  text-align: center;
  padding-top: 20px;
  color: #fff;
}
.room2 button{
  margin-left:20px;
  margin-right: 15px;
  height: 35px;
  width: 250px;
  margin-top: 67px;
  font-size: 20px;
  background: rgb(185,118,77);
  color: #fff;
  border: rgb(185,118,77);
}
.room2 button:hover{
  background-color: rgb(207, 177, 149);
}
.room2 p{
  margin: 20px;
  text-align: center;
  color: #fff;
}
.room2 p:hover{
  background-color: rgba(8, 8, 8, 0.74);
}
.room3{
  float: left;
  width: 23%;
  height: 300px;
  margin-left: 15px;
  background-image: url(http://rayanhotel.kg/uploads/besttwin/1.jpg);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center;
}
.room3 h2{
  text-align: center;
  padding-top: 20px;
  color: #fff;
}
.room3 button{
  margin-left:20px;
  margin-right: 15px;
  height: 35px;
  width: 250px;
  margin-top: 67px;
  font-size: 20px;
  background: rgb(185,118,77);
  color: #fff;
  border: rgb(185,118,77);
}
.room3 button:hover{
  background-color: rgb(207, 177, 149);
}
.room3 p{
  margin: 20px;
  text-align: center;
  color:white;
}
.room3 p:hover{
  background-color: rgba(8, 8, 8, 0.74);
}
.room4{
  float: left;
  width: 23%;
  height: 300px;
  margin-left: 15px;
  margin-right: 40px;
  background-image: url(http://rayanhotel.kg/uploads/poluluks/1.jpg);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center;
}
.room4 h2{
  text-align: center;
  padding-top: 20px;
  color: #fff;
}
.room4 button{
  margin-left:20px;
  margin-right: 15px;
  height: 35px;
  width: 250px;
  margin-top: 50px;
  font-size: 20px;
  background: rgb(185,118,77);
  color: #fff;
  border: rgb(185,118,77);
}
.room4 button:hover{
  background-color: rgb(207, 177, 149);
}
.room4 p{
  margin: 20px;
  text-align: center;
  color: #fff; 
}
.room4 p:hover{
  background-color: rgba(8, 8, 8, 0.74);
}

.footer1{
  width: 28%;
  height: 300px;
  border: solid grey;
  margin-top: 120px;
  margin-left: 50px;
  float: left;
}
.footer1 i{
  font-size: 100px;
  margin-left: 35%;
  margin-top: 20px;
  color: rgb(38, 90, 64);
}
.footer1 h2{
  text-align: center;
  color: rgb(7, 52, 70);
  margin: 20px;
}
.footer1 p{
  text-align: center;
  margin: 20px;
  color: gray;
  font-family: 'Oswald', sans-serif;
}
.footer1:hover{
  box-shadow:3px 3px 3px 3px grey;
}


.footer2{
  width: 28%;
  height: 300px;
  border: solid grey;
  margin-top: 120px;
  margin-left: 35px;
  float: left;
}
.footer2 i{
  font-size: 100px;
  margin-left: 35%;
  margin-top: 20px;
  color: rgb(224, 142, 34);
}
.footer2 h2{
  text-align: center;
  color: rgb(7, 52, 70);
  margin: 20px;
}
.footer2 p{
  text-align: center;
  margin: 20px;
  color: gray;
  font-family: 'Oswald', sans-serif;
}
.footer2:hover{
  box-shadow:3px 3px 3px 3px grey;
}


.footer3{
  width: 28%;
  height: 300px;
  border: solid grey;
  margin-top: 120px;
  margin-left: 35px;
  float: left;
}
.footer3 i{
  font-size: 100px;
  margin-left: 35%;
  margin-top: 20px;
  color: rgb(150,80,112);
}
.footer3 h2{
  text-align: center;
  color: rgb(7, 52, 70);
  margin: 20px;
}
.footer3 p{
  text-align: center;
  margin: 20px;
  color: gray;
  font-family: 'Oswald', sans-serif;
}
.footer3:hover{
  box-shadow:3px 3px 3px 3px grey;
}


.footer4{
  width: 28%;
  height: 300px;
  border: solid grey;
  margin-top: 35px;
  margin-left: 50px;
  float: left;
}
.footer4 i{
  font-size: 100px;
  margin-left: 35%;
  margin-top: 20px;
  color: rgb(255,0,0);
}
.footer4 h2{
  text-align: center;
  color: rgb(7, 52, 70);
  margin: 20px;
}
.footer4 p{
  text-align: center;
  margin: 20px;
  color: gray;
  font-family: 'Oswald', sans-serif;
}
.footer4:hover{
  box-shadow:3px 3px 3px 3px grey;
}


.footer5{
  width: 28%;
  height: 300px;
  border: solid grey;
  margin-top: 35px;
  margin-left: 35px;
  float: left;
}
.footer5 i{
  font-size: 100px;
  margin-left: 35%;
  margin-top: 20px;
  color: rgb(0,0,255);
}
.footer5 h2{
  text-align: center;
  color: rgb(7, 52, 70);
  margin: 20px;
}
.footer5 p{
  text-align: center;
  margin: 15px;
  color: gray;
  font-family: 'Oswald', sans-serif;
}
.footer5:hover{
  box-shadow:3px 3px 3px 3px grey;
}


.footer6{
  width: 28%;
  height: 300px;
  border: solid grey;
  margin-top: 35px;
  margin-left: 35px;
  float: left;
  margin-bottom: 100px;
}
.footer6 i{
  font-size: 100px;
  margin-left: 35%;
  margin-top: 20px;
  color: rgb(184,134,11);
}
.footer6 h2{
  text-align: center;
  color: rgb(7, 52, 70);
  margin: 20px;
}
.footer6 p{
  text-align: center;
  margin: 15px;
  color: gray;
  font-family: 'Oswald', sans-serif;
}
.footer6:hover{
  box-shadow:3px 3px 3px 3px grey;
}